<%- include('../partials/header') %>

<h2>ENTER NEW SNEAKERS</h2>
<div class="new-sneaker" style="width: 18rem">
<form id="new-form" action="/sneakers" method="POST" enctype="multipart/form-data">
  <label>NAME:
  <input type="text" name="name" required>
  </label><br>
  <label>BRAND:
    <select name="brand">
      <option value="Air Jordan">Air Jordan</option>
      <option value="Nike">Nike</option>
      <option value="Adidas">Adidas</option>
      <option value="Reebok">Reebok</option>
      <option value="Asics">Asics</option>
      <option value="New Balance">New Balance</option>
      <option value="Converse">Converse</option>
      <option value="Vans">Vans</option>
      <option value="Saucony">Saucony</option>
      <option value="Luxury">Luxury</option>
      <option value="Other">Other</option>
    </select>
  </label><br>
  <label>SIZE:
    <input type="number" name="size">
  </label><br>
  <label>DATE ACQUIRED:
    <input type="datetime-local">
  </label><br>
  <label>NOTES: <br>
    <textarea name="notes"></textarea>
  </label><br>
    <input type="submit" value="ADD SNEAKERS">
</div>
<h2>ADD PHOTO</h2>
<div class="new-sneaker" style="width: 18rem">
<img src="https://via.placeholder.com/333x333" alt="Sneaker">
<input type="file" name="avatar" required>
</div>
</form>

<%- include('../partials/footer') %>