<%- include('../partials/header') %>

<h2>ENTER A NEW SNEAKER</h2>
<form id="new-form" action="/sneakers" method="POST">
  <label>NAME:
  <input type="text" name="title">
  </label><br>
  <label>BRAND:
    <select name="brand">
      <option value="Air Jordan">Air Jordan</option>
      <option value="Nike">Nike</option>
      <option value="Adidas">Adidas</option>
      <option value="Luxury">Luxury</option>
      <option value="Other">Other</option>
    </select>
  </label><br>
  <label>DATE ACQUIRED:
    <input type="datetime-local">
  </label><br>
  <label>SIZE:
      <input type="number" name="size">
      <input type="submit" value="ADD SNEAKER">
  </label><br>

</form>

<%- include('../partials/footer') %>
