* {
  box-sizing: border-box;
  font-family: 'Ysabeau', sans-serif;
  color: #424748;
  padding: 3px;
  font-size: 2.7vmin;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 1); 
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  font-family: 'Ysabeau', sans-serif;
  width: 100vw;
  height: 100vh;
  display: grid;
  background-image: url("/images/sole-stash-bg.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
  background-size: cover;
  grid-template-rows: 70px 5fr;
  grid-template-areas: 
    "nav"
    "main"
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
  overflow: hidden;
}

nav {
  flex-basis: auto;
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  flex-basis: auto;
  align-items: center;
  padding: 0 30px 0 40px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 60px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: rgb(226, 78, 169);
  background-image: linear-gradient(to right, rgb(236, 241, 241), rgb(51, 215, 191) 50%, rgb(40, 88, 174) 100%);
  transition: background-color 100ms ease-in;
  box-shadow: black 2px 2px 6px 2px;
  border: 0.1vmin solid lightgrey;
  border-radius: 0.3vmin;
}

nav > a.active {
  color: rgb(52, 23, 165);
  cursor: default;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-comment-form *,
#add-brand-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin: center;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid
}

table td {
  padding: 10px;
  text-align: center;
  margin-left: 80px;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-review-form,
#add-brand-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"],
#add-brand-form input[type="submit"]  {
  width: 10rem;
  grid-column: 2 / 3;
}

hr {
  color: #424748
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: #B8C0C2;
  padding: .5rem;
  margin: .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

#show-page ul {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}
  
#show-page li {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.login img {
  height: 33px;
  filter: drop-shadow(2px 2px 1px black);
}

.comment-user {
  justify-content: center;
  align-items: center;
}

.comment-user img {
  height: 75px;
  width: 75px;
}

nav ul {
	display: flex;
	list-style-type: none;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px;
}

h2 {
	font-size: 36px;
	font-weight: bold;
  margin: 0%;
}

p {
	font-size: 24px;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

li {
	background-color: #fff;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 20px;
	flex-basis: calc(50% - 20px);
}

li img {
	display: block;
	margin: 0 auto 10px;
}

h3 {
	font-size: 24px;
	font-weight: bold;
}

.collection-table {
  border-width: 11px;
  border-style: outset;
  box-sizing: border-box;
  border-color: rgb(236, 241, 241);
  justify-content: space-between;
  width: 100%;
}

.comment-form {
  border-width: 11px;
  border-style: outset;
  box-sizing: border-box;
  border-color: rgb(236, 241, 241);
}

.comment-table {
  border-width: 11px;
  border-style: outset;
  box-sizing: border-box;
  border-color: rgb(236, 241, 241);
  justify-content: space-between;
  width: 114%;
}

.sneaker-table {
  border-width: 11px;
  border-style: outset;
  box-sizing: border-box;
  border-color: rgb(236, 241, 241);
}

.new-sneaker {
  border-width: 11px;
  border-style: outset;
  box-sizing: border-box;
  border-color: rgb(236, 241, 241);
}

.update-form {
  border-width: 11px;
  border-style: outset;
  box-sizing: border-box;
  border-color: rgb(236, 241, 241);
}